.card {
  width: 328px;
  height: 328px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 16px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}

.card__header {
  position: absolute;
  background-color: white;
  border-radius: 4px;
  width: fit-content;
  padding: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  z-index: 1;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%); /* Center it */
}

.card__image {
  max-width: 100%;
  height: auto;
  border-radius: 16px;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  z-index: 0;
}

.card__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0%;
  color: rgba(0, 0, 0, 0.6);
  position: relative;
  z-index: 1;
  padding: 0px 5px;
  text-align: center;
  background-color: white;
  width: fit-content;
  border-radius: 4px;
  margin: 0;
}

.card__like-btn {
  width: 18px;
  height: 18px;
  background-color: transparent;
  border: none;
  opacity: 40%;
  transition: opacity 0.3s ease-in-out;
  cursor: pointer;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../../assets/heart.svg");
}

.card__like-btn:hover {
  opacity: 1;
}

.card__like-btn_liked {
  background-image: url("../../assets/liked.svg");
  opacity: 1;
}

.card__like-btn_liked:hover {
  opacity: 0.5;
}
