.cards__text {
  margin: 40px 0 34px auto;
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
}

.cards__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 21px;
  padding: 0;
}
