.sidebar__profile {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.sidebar__user {
  display: flex;
  gap: 16px;
}

.sidebar__username {
  width: fit-content;
  font-size: 20px;
  font-weight: 500;
  color: black;
}

.sidebar__avatar {
  width: 56px;
  height: 56px;
  margin-left: 12px;
}

.sidebar__back-home-btn {
  border: none;
  font-weight: 500;
  font-size: 20px;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
  color: rgba(0, 0, 0, 0.6);
  border: none;
  width: fit-content;
}

.sidebar__back-home-btn:hover {
  background: #f3f3f3;
  color: rgba(0, 0, 0, 0.9);
}
