.clothes-section__header {
  display: flex;
  gap: 20px;
}

.clothes-section__title {
  font-size: 20px;
  font-weight: 500;
  width: fit-content;
}

.clothes-section__add-new-btn {
  border: none;
  font-weight: 500;
  font-size: 20px;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
  color: rgba(0, 0, 0, 0.6);
  border: none;
  width: fit-content;
}

.clothes-section__add-new-btn:hover {
  background: #f3f3f3;
  color: rgba(0, 0, 0, 0.9);
}

.cards__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 21px;
  padding: 0;
}
